/* Home css */
.home-section {
  position: relative;
  height: 50vh;
  background-color: #e4f2ff;
  top: -3px;
}

#home {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
}
/* Carousel image css */
.circular-square {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.circular-square img {
  width: 80%;
  height: auto;
}

.search-item-section {
  background: #fff;
  /* padding: 20px 170px; */
  position: relative;
  /* margin: 0 70px; */
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  /* margin-top: -130px; */
  width: 1200px;
  height: 562px;
  top: -120px;
  left: 360px;
}
