/* Global css */
.button-main {
  background-color: #458502;
  color: #fff;
}
.button-secondary {
  background-color: #856802;
  color: #fff;
}
.color-main {
  color: #458502;
}
/* Home css */
.home-section {
  position: relative;
  height: 50vh;
  background-color: #e4f2ff;
  top: -3px;
}

#home {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
}
/* Carousel image css */
.circular-square {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.circular-square img {
  width: 80%;
  height: auto;
}
/* Search item css */
.search-item-section {
  background: #fff;
  position: relative;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  width: 1200px;
  height: 562px;
  top: -120px;
  left: 360px;
}
/* Rifles list css */
#riflesListNav {
  display: flex;
  position: sticky;
  top: 0;
  color: #000;
  justify-content: space-between;
  padding: 1rem;
}

#riflesListNav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

/* Footer css */
.footer-card {
  height: 330px;
}
#footer-card-one {
  background-color: #f0ffe4;
}
#footer-card-one img {
  width: 250px;
  height: 130px;
}
#footer-card-two {
  background-color: #e4f2ff;
}
